.navbar-custom {
    background-color: black !important;
    border-radius: 10px;
  }
  .navbar-custom .navbar-collapse {
    justify-content: center;
  }
  
  .navbar-custom .btn {
    margin-right: auto;
    margin-left: auto;
    border-color: #00f224 !important;
  }